$column-padding: 0.6%;

.Library {
  .table-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .column {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .column {
    padding: 0.8em $column_padding;
    display: inline-block;
  }

  .row {
    .column {
      vertical-align: middle;
      padding: $column-padding;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:nth-child(odd) {
      background-color: rgba(0,0,0,0.03);
    }
  }

  .title {
    width: 50% - ($column-padding * 2);
  }
  .album {
    width: 20% - ($column-padding * 2);
  }
  .artist {
    width: 20% - ($column-padding * 2);
  }
  .duration {
    width: 10% - ($column-padding * 2);
  }
  .message {
    padding: 0.6em;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 0.7em;
  }
  .error {
    color: #d31414;
    border-color: #d31414;
  }
}
