@import '../../commons.scss';

$column-padding: 1%;

.Library {
  padding-top: $header-height;
  .table {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$header-height});
  }
  .table-header {
    border-bottom: 3px solid rgba(0,0,0,0.4);
    .column {
      cursor: pointer;
      color: #fff;
    }
  }

  .table-body {
    flex: 1;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.1);
  }

  .column {
    padding: 0.8em $column-padding;
    display: inline-block;
  }

  .sort-icon {
    color: #930bc3;
  }

  .row {
    .column {
      vertical-align: middle;
      padding: 1em $column-padding;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      background-color: rgba(0,0,0,0.4);
    }
  }

  .title {
    width: 50% - ($column-padding * 2);
  }
  .album {
    width: 20% - ($column-padding * 2);
  }
  .artist {
    width: 20% - ($column-padding * 2);
  }
  .duration {
    width: 10% - ($column-padding * 2);
  }
  .message {
    margin: 0 1em;
    padding: 0.6em;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 0.7em;
  }
  .error {
    color: #d31414;
    border-color: #d31414;
  }
  .no-data {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    padding: 3em 1em;
    color: rgba(255,255,255,0.4);
  }
}
