@import '../commons.scss';

.Navigation {
  .item {
    display: inline-block;
    cursor: pointer;
    padding: 0.6em 1em;
    border-radius: 1em;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 0.8em;

    &.active {
      color: #fff;
      @include gradient-background;
    }
  }
}
