@import '../../commons.scss';

.Player {
  background-color: $background-color;

  .controls {
    height: 3em;
  }

  .thumbnail {
    height: 10em;
    width: 10em;
    margin: auto;
    margin-top: 2em;
    border-radius: 1em;
    background-color: darken($background-color, 4);
    position: relative;
    border-radius: 30em;
    box-shadow: 0px 3px 40px darken($background-color, 15);
    border: 1em solid #fff;
    overflow: hidden;
      > div {
        width: 100%;
        height: 100%;
        background-position: center;
      }
    .icon {
      font-size: 3em;
      text-align: center;
      margin: auto;
      top: 34%;
      position: absolute;
      left: 34%;
    }
  }

  .player-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.Playlist {
  padding: 0 2em;
  overflow-y: scroll;
  .row {
    padding: 0.5em 1em;
    transition: background-color 0.2s;
    border-bottom: 1px solid darken($background-color, 3);
    .column {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      background-color: darken($background-color, 4);
    }
  }

  .title {
    width: 85%;
  }
  .duration {
    width: 15%;
    text-align: right;
  }
}
