@import './commons.scss';

.App {
}
.spinner {
  color: #fff;
  font-size: 2em;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.visible {
  animation-name: fadein;
  animation-duration: 200ms;
  animation-timing-function: linear;
  opacity: 1;
}
.hidden {
  animation-name: fadeout;
  animation-duration: 200ms;
  animation-timing-function: linear;
  opacity: 0;
}

