@import './commons.scss';

.App {
  .main {
    height: calc(100vh - #{$header-height});
    padding-top: $header-height;
    display: flex;
  }
  .content {
    flex: 1;
  }

  .Player {
    width: $player-width;
  }
}
.spinner {
  font-size: 2em;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.visible {
  animation-name: fadein;
  animation-duration: 200ms;
  animation-timing-function: linear;
  opacity: 1;
}
.hidden {
  animation-name: fadeout;
  animation-duration: 200ms;
  animation-timing-function: linear;
  opacity: 0;
}

