$header-height: 5em;
$background-color: #171c20;

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin gradient-background {
  background: -moz-linear-gradient(-45deg,  #ff0090 0%, #161d8d 100%);
  background: -webkit-linear-gradient(-45deg,  #ff0090 0%, #161d8d 100%);
  background: linear-gradient(135deg,  #ff0090 0%, #161d8d 100%);
}

@mixin gradient-text-background {
  background: -webkit-linear-gradient(#ff0090, #161d8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff0090;
}
